.DS_Store
Thumbs.db
/input-cache
/temp
/template
/t_cabs_template
.claude
CLAUDE.md
/output
/out
/Publikation
/fsh-generated
plantuml.jar
/AVX-Specs
Requirements-fromNarrative.json
/20260220
/ETL